<div class="container">
<header class="header">
  <h1>Random Password Generator</h1>
</header>

  <form class="form">         
    
      <h2 class="form-title">Random Password Generator <i class="fa-solid fa-key"></i></h2>

      <div class="form-content">
      <label class="label" for="passwordLength">Password Length</label>
      <input class="input" type="text" id="passwordLength" name="passwordLength"><br>
      <div id="reminderWord">Length is available between 4~16 </div>

      <label class="label" for="vehicle1"> Include Lowercase Characters</label>
      <input type="checkbox" id="lowercase" name="lowercase" >
      <label class="label" for="vehicle2"> Include Uppercase Characters</label>
      <input type="checkbox" id="uppercase" name="uppercase" >
      <label class="label" for="vehicle3"> Include Numbers</label>
      <input type="checkbox" id="numbers" name="numbers" >
      <label class="label" for="vehicle4"> Include Symbols</label>
      <input type="checkbox" id="symbols" name="symbols" >

      <label class="label" for="excludeCharacters">Exclude Characters</label>
      <input class="input" type="text" id="excludeCharacters" name="excludeCharacters"><br>
      <div id="reminderWord">These characters will not appear in the password</div>
      </div>
      <button id= "button" action="/submit" method="post" type="button">Generate Password</button>
  </form>
  
</div>