<header class="header">
  <h1>Random Password Generator</h1>
</header>

  <form class="form">     
    <h2 class="form-title">Random Password Generator <i class="fa-solid fa-key"></i></h2>
     {{!-- 表單內容 --}}
     <div class="form-content">
      {{!-- Password Length --}}
      <label class="label" for="length">Password Length</label>
      <div class="have-reminder-word">
        <input class="input" type="number" id="length" name="length" min="4" max="16" value="{{option.length}}"><br>
        <div class="reminderWord">Length must be between 4~16; otherwise defaults to 10
        </div>
      </div>
      {{!-- Include Lowercase Characters --}}
      <label class="label" for="lowercase"> Include Lowercase Characters</label>
      <div>
        <input type="checkbox" class="checkbox" id="lowercase" name="lowercase"> {{#if option.lowercase}}checked{{/if}}&emsp; (e.g.  abcdefg)
      </div>      

      {{!-- Include Uppercase Characters --}}
      <label class="label" for="uppercase"> Include Uppercase Characters</label>
      <div>
        <input type="checkbox" class="checkbox" id="uppercase" name="uppercase"> {{#if option.uppercase}}checked{{/if}}&emsp; (e.g.  ABCDEFG)
      </div>      

      {{!-- Include Numbers --}}
      <label class="label" for="numbers"> Include Numbers</label>
      <div>
        <input type="checkbox" class="checkbox" id="number" name="number"> {{#if option.number}}checked{{/if}}&emsp; (e.g. 123456)
        </div>      

      {{!-- Include Symbols --}}
      <label class="label" for="symbols"> Include Symbols</label>
      <div>
        <input type="checkbox" class="checkbox" id="symbol" name="symbol">{{#if option.symbol}}{{/if}} &emsp; (e.g. !@#$%)
      </div>      

      {{!-- Exclude Characters --}}
      <label class="label" for="exclude">Exclude Characters</label>
      <div class="have-reminder-word">
        <input class="input" type="text" id="exclude" name="exclude" value="{{option.exclude}}"><br>
        <div class="reminderWord">These characters will not appear in the password</div>
      </div>
    </div>
      
      {{!-- password --}}
      
      <div id="message" style="display: none;"></div>

      {{!-- Generate Password Button --}}
      <button id= "button" type="button">Generate Password</button>
  </form>  
<script src="/javascripts/main.js"></script>