body {
  font-family: 'Lato', 'Noto Sans TC', sans-serif;
}
.header{
  display: flex;
  justify-content: center;
  color:whitesmoke;
  background-color: rgb(125, 125, 125);  
}
.container{
 height: 100vh;  /*占滿整個視窗高度*/
 background-color: rgb(37, 37, 37);
}

h2{
  border: none;
    border-bottom: 1px solid #ccc;  
    margin: 40px 0;   
}

.form-title{
  color: rgb(9, 9, 9);
  margin-bottom: 20px;
}

.form{
padding: 20px 80px 50px;
margin: 100px;
background-color: aliceblue;
}

.reminderWord {   
  font-size: 14px;
  color: #888;
  margin-top: -15px;
}

#button {
  margin-top:20px;
  padding: 10px;
  font-size: 16px; 
  border: 1px solid #ccc; 
  background-color: #119816;  
  /* 鼠標懸停時顯示為手形 */
  cursor: pointer;  
  border-radius: 6px; 
}

.form-content {
  font-size: 22px;
  line-height: 46px;
  display: grid;
  grid-template-columns: 350px 1fr;
  /* 左邊欄位固定寬度，右邊欄位自適應 */

}

.label {
  text-align: left;
  /* 讓標籤文字靠右對齊 */
}

#length, #exclude{
  border-radius: 4px;
  height: 32px;  
  width: 100%;
  max-width: 400px;
    /* 最大寬度 300px */
    min-width: 150px;
    /* 最小寬度 150px */
}

.checkbox{
  width: 20px;
  height: 20px;
}