body {
  font-family: 'Lato', 'Noto Sans TC', sans-serif;
  /*占滿整個視窗高度*/
  height: 100vh;   
  background-color: rgb(37, 37, 37);
}

.header{
  display: flex;
  justify-content: center;
  color:whitesmoke;
  background-color: rgb(125, 125, 125);  
}

h2{
  border: none;
    border-bottom: 1px solid #ccc;  
    margin: 40px 0;   
}

.form-title{
  color: rgb(9, 9, 9);
  margin-bottom: 20px;
}

.form{
padding: 20px 80px 50px;
margin: 100px;
background-color: aliceblue;
}

.reminderWord {   
  font-size: 14px;
  color: #888;
  margin-top: -15px;
}

#button {
  margin-top:20px;
  padding: 10px;
  font-size: 16px; 
  border: 1px solid #ccc; 
  background-color: #a4baa4;  
  /* 鼠標懸停時顯示為手形 */
  cursor: pointer;  
  border-radius: 6px; 
}

/* 點擊時的效果 */
#button:active{
  transform: translateY(4px);
  background-color: #8c9c8c;
}

.form-content {
  font-size: 22px;
  line-height: 46px;
  display: grid;
  /* 左邊欄位固定寬度，右邊欄位自適應 */
  grid-template-columns: 350px 1fr;
}

#length, #exclude{
  border-radius: 4px;
  height: 32px;  
  width: 100%;
  max-width: 400px;  
}

.checkbox{
  width: 20px;
  height: 20px;
}

#message {
  font-weight: 700;
  width: 100%;  
  height: 30px;  
  padding: 10px;  
  border-radius: 5px;
  /*讓字垂直置中 */
  display: flex;  
  align-items: center;
  justify-content: center;  
}